.my-img{
    width: 95px;
    height: auto;
}

 /* ----------------------------------------- FEED CSS START----------------------------------------------- */




   /* ----------------------------------------- FEED CSS END----------------------------------------------- */

  /*---------Logo CSS---------*/
  .navbar-brand img {
    width: 40px;
    height: 20px;
}


  /*---------lOgo End---------*/